.sidebar {
  width: 250px;
  height: 100vh;
  background: #111827;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background: #1f2937;
}

.sidebar i {
  margin-right: 10px;
}